.cart-buttons {
  padding: 48px 80px 0;
  text-align: center;
}

.cart-buttons__button {
  padding-right: 54px !important;
}

.cart-buttons__button:after {
  content: "";
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translate(0, -50%);
  background: url("/assets/images/icons/angle-sm-icon.svg") center no-repeat;
  background-size: cover;
  width: 10px;
  height: 18px;
}

.cart-buttons__button.is-loading:after {
  position: absolute;
  top: 22px;
  right: 16px;
}

.cart-buttons__info {
  padding: 11px 14px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  background-color: var(--color-pink);
}

.cart-buttons__info-text {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.cart-buttons__info-price {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.button {
  height: 64px;
  padding: 19px 24px;
  background-color: var(--color-yellow);
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-black);
  display: inline-block;
  transition: 0.2s all;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-yellow-dark);
}

.button.button_block {
  display: block;
  width: 100%;
}

.button.is-loading {
  pointer-events: none;
}

.button.is-loading:after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 12px;
  position: relative;
  background: url(/assets/icons/loader-icon-sm.svg) center no-repeat;
  background-size: cover;
  vertical-align: bottom;
  display: inline-block;
  -webkit-animation: loadingSpinner 1s infinite linear;
          animation: loadingSpinner 1s infinite linear;
}

.btn-group {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.btn-group__button {
  position: relative;
}

@media all and (max-width: 767px) {
  .btn-group {
    display: flex;
  }

  .btn-group__button {
    flex-grow: 1;
  }
}
